@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --merah: #cc021c;
  --oren: #faa401;
  --kuning: #ffff00;
  --hijau: #1be400;
}

.test {
  color: #000000;
}

/* Navbar */
nav a.active {
  color: #ffff00;
}

.navbar {
  transition: all 500ms ease-in-out;
}

/* About */
.btn-about {
  transition: 0.5s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.btn-about::before,
.btn-about::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #cc021c;
  transition: 1s ease;
}

.btn-about::before {
  top: -1em;
  left: -1em;
}

.btn-about::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn-about:hover::before,
.btn-about:hover::after {
  height: 410px;
  width: 410px;
}

/* back to top */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 10px;
  font-size: 26px;
  width: 40px;
  height: 40px;
  background-color: var(--merah);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.11);
  z-index: 50;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #e6001f;

  color: #fff;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
